.form {
    margin: 10px;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 10px;
}

.formColumn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
}

.formDetalle {
    margin: 5px 0px;
    font-size: 30px;
    margin-right: auto;
}

.formInput {
    height: 25px;
    padding: 5px;
    border-radius: 8px;
    border-color: #D9D9D9;
    font-size: 15px;
}

.formInput:focus {
    outline: none; /* Asegura que no haya borde al enfocar */
    box-shadow: none; /* Elimina el efecto de sombra */
    border-color: #D9D9D9;
}

.formAsistencia {
    margin: 5px 0px;
    font-size: 20px;
    margin-right: auto;
}

.formSwitch {
    margin-top: 12px;
    margin-right: 20px;
}

.formConfirm{
    position: absolute;
    background: #D9D9D9;
    height: 90%;
    width: 90%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%); /* Fondo oscuro */
    z-index: 999; /* Asegúrate de que el overlay esté por encima de otros elementos */
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%); /* Fondo oscuro */
    z-index: 999; /* Asegúrate de que el overlay esté por encima de otros elementos */
}

.confirmation-message {
    position: fixed;
    top: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    z-index: 1000;
    width: 70%;
    font-size: 20px;
}

.confirmation-message p {
    margin: 0 0 10px;
}

.confirmation-message button {
    margin: 10px 5px;
}

.cancelar {
    background-color: #D9D9D9;
    color: #5D795B;
}

.formAcompanante {
    display: flex;
    flex-direction: row;
    border: solid 1px #3E503D;
    border-radius: 20px;
    width: 225px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formAcompananteNombre {
    width: 180px;
    margin: 0;
}

.Dropdown-control {
    border-radius: 20px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: #7F9B7D;
    color: #FAFFFA;
    border: #FAFFFA solid 1px;
}

.Dropdown-arrow {
    border-color: #FAFFFA transparent transparent;
    margin-top: 5px;
    margin-right: 10px;
}

.Dropdown-menu {
    border-radius: 10px;
    margin-top: 5px;
}

.center {
    display: flex;
    justify-content: center;
}