
.header {
    height: 100vh;
}

.headerLogo {
    height: 30vh;
    margin-top: 60vh;
}

.headerAudio {
    background: none !important;
}

.rhap_container svg {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 60vh;
    margin-left: -40px;
}